<div class="container mt-5">
  <h2 class="text-center mb-4">Recuperar Contraseña</h2>

  <!-- Paso 1: Buscar usuario -->
  <form [formGroup]="buscarForm" (ngSubmit)="obtenerPregunta()" class="mb-4">
    <div class="mb-3">
      <label for="idUsuario" class="form-label">Usuario</label>
      <input type="text" id="idUsuario" formControlName="idUsuario" class="form-control" placeholder="Ingresa tu usuario">
    </div>
    <button type="submit" class="btn btn-primary w-100" [disabled]="buscarForm.invalid">Buscar</button>
  </form>

  <!-- Mostrar pregunta de seguridad si existe -->
  <div *ngIf="preguntaSeguridad" class="card shadow-sm mb-4">
    <div class="card-body">
      <h5 class="card-title">Pregunta de seguridad</h5>
      <p class="card-text fw-bold">{{ preguntaSeguridad }}</p>

      <!-- Paso 2: Responder pregunta y cambiar contraseña -->
      <form [formGroup]="cambioForm" (ngSubmit)="cambiarPassword()">
        <div class="mb-3">
          <label for="respuestaSeguridad" class="form-label">Respuesta</label>
          <input type="text" id="respuestaSeguridad" formControlName="respuestaSeguridad" class="form-control" placeholder="Escribe tu respuesta">
        </div>

        <div class="mb-3">
          <label for="nuevaPassword" class="form-label">Nueva Contraseña</label>
          <input type="password" id="nuevaPassword" formControlName="nuevaPassword" class="form-control" placeholder="Ingresa tu nueva contraseña">
        </div>

        <button type="submit" class="btn btn-success w-100" [disabled]="cambioForm.invalid">
          Cambiar Contraseña
        </button>
      </form>
    </div>
  </div>

  <button type="button" class="btn btn-secondary mb-3" routerLink="/loginusuarios">
      Regresar <i class="bi bi-arrow-right"></i>
    </button>

  <!-- Mensajes de error o éxito -->
  <div *ngIf="mensajeError" class="alert alert-danger mt-3">
    {{ mensajeError }}
  </div>

  <div *ngIf="mensajeExito" class="alert alert-success mt-3">
    {{ mensajeExito }}
  </div>
</div>

